@using MobileBG.Web.ViewModels.Makes
@model MakeDetailsViewModel

@{
    this.ViewData["Title"] = this.Model.Name;
}

<partial name="_MessagePartial">
    <h1 class="text-center">@this.Model.Name</h1>
    <hr />

    <form class="row" method="post" asp-controller="Model" asp-action="Create">
        <input type="hidden" value="@Url.ActionContext.RouteData.Values["id"]" name="makeId" />
        <div class="col-md-3">
            <input name="modelName" required class="form-control" placeholder="Add model for @this.Model.Name">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Create</button>
        </div>
    </form>

    <form id="delete" method="post"></form>

    <div class="row mt-4">
        @foreach (var item in this.Model.Models.OrderBy(x => x.Name))
        {
            <div style="border-radius: 4px; text-decoration:none; color:black;" class="borderR list-group-item col-md-4 float-left">
                @item.Name
                <button form="delete" type="submit" asp-controller="Model" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm float-right"><i class="fa-solid fa-trash-can"></i></button>
            </div>
        }
    </div>
