@using MobileBG.Web.ViewModels.Cars

@model SearchCarViewModel
@{
    this.ViewData["Title"] = "All cars";
}

<form id="search" method="get">
    <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="MakeId"></label>
            <select id='makes' class="form-control" asp-for="MakeId">
                <option>All</option>
                @foreach (var make in Model.Makes)
                {
                    <option value="@make.Id">@make.Name</option>
                }
            </select>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="ModelId"></label>
            <select id='models' asp-for="ModelId" class="form-control">
                <option>All</option>
            </select>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="CityId"></label>
            <select class="form-control" asp-for="CityId">
                <option>All</option>
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="PetrolTypeId"></label>
            <select class="form-control" asp-for="PetrolTypeId">
                <option>All</option>
                @foreach (var type in Model.PetrolTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="YearFrom"></label>
            <input asp-for="YearFrom" min="0" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="YearTo"></label>
            <input asp-for="YearTo" min="0" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="MaxPrice"></label>
            <input asp-for="MaxPrice" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="MinPrice"></label>
            <input asp-for="MinPrice" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="MinHorsePower"></label>
            <input asp-for="MinHorsePower" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <label asp-for="Order"></label>
            <select asp-for="Order" class="form-control">
                @foreach (int order in Enum.GetValues(typeof(OrderBy)))
                {
                    <option value="@order">@Enum.GetName(typeof(OrderBy), order)</option>
                }
            </select>

        </div>

    </div>
    <br />
    <div class="btn-group">
        <button class="btn btn-success mb-3" asp-route-id="1" type="submit">Search</button>
      @*  <button class="btn btn-btn-sm btn-primary m-1"  type="button" onclick="reset()">Clear all</button>*@
    </div>


    <br />
</form>
<form id="carsForm"></form>
<div class="container-fluid">
    <div class="row no-gutters">
        @foreach (var car in @Model.Cars)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <a class="card p-1 m-1 w-5" style="text-decoration: none;" asp-controller="Car" asp-action="Details" asp-route-id="@car.Id">
                    <img class="card-img-top" style="height: 10rem; object-fit: cover;" src="@car.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:17px;">@car.MakeName @car.ModelName</h5>
                        <hr>
                        <p class="card-text">Horse Power: @(car.HorsePower) </p>
                        <p class="card-text">Price: @((int)car.Price) BGN</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-controller="Car" asp-action="All" asp-route-id="@Model.FirstPageNumber" onclick="location.href=this.href+window.location.search;return false;"><strong>First</strong></a>
        </li>
        <li class="page-item @if (!Model.HasPreviousPage) {
        <text>disabled</text>
 }">
            <a class="page-link" asp-controller="Car" asp-action="All" asp-route-id="@Model.PreviousPageNumber" onclick="location.href=this.href+window.location.search;return false;"><strong>Previous</strong></a>
        </li>
        @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-controller="Car" asp-action="All" asp-route-id="@i" onclick="location.href=this.href+window.location.search;return false;">@i</a></li>
            }

        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-controller="Car" asp-action="All" asp-route-id="@i" onclick="location.href=this.href+window.location.search;return false;">@i</a></li>
            }

        }
        <li class="page-item @if (!Model.HasNextPage) {
        <text>disabled</text>
 }">
            <a class="page-link" asp-controller="Car" asp-action="All" asp-route-id="@Model.NextPageNumber" onclick="location.href=this.href+window.location.search;return false;"><strong>Next</strong></a>
        </li>
        <li class="page-item @if (!Model.HasNextPage) {
        <text>disabled</text>
 }">
            <a class="page-link" asp-controller="Car" asp-action="All" asp-route-id="@Model.LastPageNumber" onclick="location.href=this.href+window.location.search;return false;"><strong>Last</strong></a>
        </li>
    </ul>
</nav>

@section Scripts
{
<script>
    var makesList = document.getElementById("makes");
    function populateDropdownForModels() {
        var index = makesList.selectedIndex;
        if (index == 0) {
            document.getElementById('models').innerHTML = "";
            $('#models').append($('<option>All</option>'));
        }
        else{
             document.getElementById('models').innerHTML = "";
             $('#models').append($('<option>All</option>'));
        }
    }

    function reset(){
        $('#search')[0].reset();
    }

    $('#makes').change(populateDropdownForModels)
    $(document).ready(populateDropdownForModels)
</script>
} 