@using MobileBG.Common
@using MobileBG.Web.ViewModels.Cars
@using MobileBG.Web.Infrastructure;
@using MobileBG.Services.Data.Contracts;

@inject ICarService carService;

@model SingleCarViewModel
@{
    this.ViewData["Title"] = this.Model.Make + "  " + this.Model.Model;
}

@section Head{
<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">



<style>
    .profile {
        -webkit-box-shadow: 17px 11px 18px -3px rgba(0,0,0,0.51);
        box-shadow: 17px 11px 18px -3px rgba(0,0,0,0.51);
    }

    .card {
        /*        width: 320px;*/
        border: none;
        border-radius: 10px;
        background-color: #f2f2f2
    }

    .stats {
        background: #fff !important;
        color: #000 !important;
        text-align: center;
    }

    .articles {
        font-size: 10px;
        color: #a1aab9
    }

    .number1 {
        font-weight: 500
    }

    .button-box {
        margin-top: 20px;
    }

    .bg-blue {
        background-color: #00A2ED;
    }
</style>
}

<div class="container">
    <div class="row">
        <div class="col">
            <span style="font-family:Monaco, sans-serif; font-size:2rem">@this.ViewData["Title"]</span>
            <div class="fotorama" data-allowfullscreen="native" data-nav="thumbs" data-width="500">
                @foreach (var link in this.Model.Images)
                {
                    <img src="@link" width="400">
                }
            </div>
        </div>
        <form id="edit"></form>
        <form id="pdf"></form>
        <form id="delete" method="post"></form>
        <div class="col">
            @if (await this.carService.ValidateUserOwnsCarAsync(this.User.GetId(), this.Model.Id) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <div class="button-box">
                    <button form="edit" class="btn btn-warning btn-sm" type="submit" asp-controller="Car" asp-action="Edit" asp-route-id="@this.Model.Id">Edit</button>
                    <button form="pdf" class="btn btn-success btn-sm" type="submit" asp-controller="Car" asp-action="Pdf" asp-route-id="@this.Model.Id">Download PDF</button>
                    <button form="delete" class="btn btn-danger btn-sm" type="submit" asp-controller="Car" asp-action="Delete" asp-route-id="@this.Model.Id">Delete</button>
                </div>
            }
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i style="margin-right:30px" class="fa-lg fas fa-tachometer-alt"></i>Price:  <span style="font-size:20px; margin-right: 26px" class="badge rounded-pill bg-blue text-dark">@this.Model.Price Lv.</span></li>
                <li class="list-group-item"><i style="margin-right:30px" class="fa-lg fas fa-tachometer-alt"></i>Horse power:  @this.Model.HorsePower</li>
                <li class="list-group-item"><i style="margin-right:28px" class="fa-lg fas fa-road"></i>KM: @this.Model.Km  </li>
                <li class="list-group-item"><i style="margin-right:30px" class="fa-lg fas fa-gas-pump"></i>Petrol type: @this.Model.PetrolType</li>
                <li class="list-group-item"><i style="margin-right:33px" class="fa-lg fas fa-calendar-alt"></i>Year made:   @this.Model.YearMade</li>
                <li class="list-group-item"><i style="margin-right:33px" class="fa-lg fas fa-user"></i>Owner:  @(this.Model.UserName==null? "Admin" : this.Model.UserName.Split('@')[0])</li>
                <li class="list-group-item"><i style="margin-right:35px" class="fa-lg fas fa-building"></i>City:  @this.Model.CityName</li>
                <li class="list-group-item"><i style="margin-right:33px" class="fa-lg fas fa-align-left"></i>@this.Model.Description</li>
            </ul>
        </div>
        <form id="user"></form>
        <div class="container mt-5 mb-2 d-flex">
            <div class="card p-3 profile">
                <div class="d-flex align-items-center">
                    <div class="image"> <img src="~/user.png" class="rounded" width="135"> </div>
                    <div class="ml-3">
                        <h4 class="mb-0 mt-0" style="font-size:small">@this.Model.UserName.Split('@')[0]</h4>
                        @if (this.Model.PhoneNumber != null)
                        {
                            <span>@this.Model.PhoneNumber</span>
                        }
                        <div class="p-2 mt-2 bg-primary d-flex rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Cars</span> <span class="number1">@this.Model.UsersCars</span> </div>
                        </div>

                        @{
                            var parms = new Dictionary<string, string> { { "page", "1" } };
                        }

                        <div class="button mt-2 d-flex flex-row align-items-center"> <a form="user" type="submit" asp-controller="Car" asp-action="ForUser" asp-all-route-data="parms" asp-route-id="@this.Model.UserId" class="btn btn-sm btn-primary">View cars</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
}